:root {
  --main-background: linear-gradient(to right bottom, #eeeeee, #d8d8d8, #c3c3c3, #aeaeae, #999999);
  --orange-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --purple-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --font-color: #EEEEEE;
  --lightest-orange: #fbdcd0;
  --light-orange1: #f39d7c;
  --app-name: #f39d7c;
  --dark-orange: #f39d7c;
  --todo-background: #846a91;
  --nav-bar: #75638d;
  --budget-background: #392646;
  --magenta: #660066;

}


