@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Zilla+Slab&display=swap');
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Zilla Slab', serif */

:root {
  --img-background: url(../public/6876899.jpg);
  --main-background: linear-gradient(to right bottom, #eeeeee, #d8d8d8, #c3c3c3, #aeaeae, #999999);
  --orange-gradient: linear-gradient(to top, #f0865c, #f18c64, #f2926c, #f29774, #f39d7c);
  --purple-gradient: linear-gradient(to bottom, #392646, #4b3658, #5d476a, #70587d, #846a91);
  --font-color: #EEEEEE;
  --lightest-orange: #fbdcd0;
  --light-orange1: #f39d7c;
  --app-name: #f39d7c;
  --dark-orange: #f0865c;
  --todo-background: #846a91;
  --nav-bar: #5f3e74;
  --budget-background: #392646;
  --magenta: #660066;
  --body-font: 'Ubuntu', sans-serif;
  --header-font: 'Zilla Slab', serif;
}

body {
  background-image: var(--main-background);
  min-height: 100vmax;
  /* min-height: 100vh; */
  height: fit-content;
  max-height: max-content;
  font-family: var(--body-font);
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: var(--header-font);
}

h2 {
  color: black;
}

li {
  color: #eeeeee;
}

/* p {
  color: var(--magenta);
} */

a {
  color: black;
}

/* UTILS styling */
.card {
  background-color: var(--budget-background);
  width: 30%;
  color: var(--font-color);
  border-radius: 15px;
  margin-top: 25px;
  padding-bottom: 5px;
  padding: 0 15px 5px 15px;
}

.title {
  background-color: #f0865c;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  font-family: var(--header-font);
}

.input-box {
  border-radius: 15px;
  padding-top: 2px;
  padding-left: 5px;
  margin: 10px;
}

.label {
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

.block {
  display: block;
  height: fit-content;
}

.header-block {
  padding: 30px;
  color: var(--budget-background);
}

/* Button Styling */

.submit-btn {
  background-color: #f0865c;
  color: white;
}

.add-btn {
  padding: 5px 15px;
  border-radius: 15px;
  border-width: 1px;
}

.submit-btn {
  background-color: #f0865c;
  color: white;
}

.todoBtn {
/* background-color: #f0865c; */
background-image: var(--orange-gradient);
}

.budgetTotalBtn {
/* background-color: #f39d7c; */
background-image: var(--orange-gradient);
}

.budgetExpenseBtn {
/* background-color: #392646; */
background-image: var(--purple-gradient);
color: white;
}

.budgetIncomeBtn {
/* background-color: #5f3e74; */
background-image: var(--purple-gradient);
color: white;

}

.add-btn-list {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

/* Profile styling  */
.profile-container {
  display: block;
  width: 100%;
  
}

/* Forms Styling  */
.add-form {
  border: solid black 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 5px 20px;
  background-color: var(--nav-bar);
  opacity: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

