@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Zilla+Slab&display=swap');

:root {
  --main-background: linear-gradient(to right bottom, #eeeeee, #d8d8d8, #c3c3c3, #aeaeae, #999999);
  --orange-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --purple-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --font-color: #EEEEEE;
  --lightest-orange: #fbdcd0;
  --light-orange1: #f39d7c;
  --app-name: #f39d7c;
  --dark-orange: #f0865c;
  --todo-background: #846a91;
  --nav-bar: #5f3e74;
  --budget-background: #392646;
  --magenta: #660066;

}

body {
  background-image: var(--main-background);
}

h2 {
  color: black;
}

li {
  color: #eeeeee;
}

/* p {
  color: var(--magenta);
} */

a {
  color: black;
}

.card {
  background-color: var(--budget-background);
  width: 25% ;
  color: var(--font-color);
  border-radius: 25px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

