@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Zilla+Slab&display=swap');
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Zilla Slab', serif */

:root {
  --main-background: linear-gradient(to right bottom, #eeeeee, #d8d8d8, #c3c3c3, #aeaeae, #999999);
  --orange-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --purple-gradient: linear-gradient(to bottom, #f39d7c, #f6ad90, #f9bda5, #faccba, #fbdcd0);
  --font-color: #EEEEEE;
  --lightest-orange: #fbdcd0;
  --light-orange1: #f39d7c;
  --app-name: #f39d7c;
  --dark-orange: #f0865c;
  --todo-background: #846a91;
  --nav-bar: #5f3e74;
  --budget-background: #392646;
  --magenta: #660066;
  --body-font: 'Ubuntu', sans-serif;
  --header-font: 'Zilla Slab', serif;
}

body {
  background-image: var(--main-background);
  min-height: 100vh;
  height: fit-content;
  max-height: max-content;
  font-family: var(--body-font);
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: var(--header-font);
}

h2 {
  color: black;
}

li {
  color: #eeeeee;
}

/* p {
  color: var(--magenta);
} */

a {
  color: black;
}

/* UTILS styling */
.card {
  background-color: var(--budget-background);
  width: 25%;
  color: var(--font-color);
  border-radius: 15px;
  margin-top: 25px;
  padding-bottom: 5px;
}

.title {
  background-color: #f0865c;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  font-family: var(--header-font);
}

.input-box {
  border-radius: 15px;
  padding-top: 2px;
  padding-left: 5px;
  margin: 10px;
}

/* Button Styling */

.submit-btn {
  background-color: #f0865c;
  color: white;
}

.add-btn {
  padding: 5px;
  border-radius: 15px;
  border-width: 1px;
}

.submit-btn {
  background-color: #f0865c;
  color: white;
}

.todoBtn {
background-color: #f0865c;
}

.budgetTotalBtn {
background-color: #f39d7c;
}

.budgetExpenseBtn {
background-color: #392646;
color: white;
}

.budgetIncomeBtn {
background-color: #5f3e74;
}

/* Forms Styling  */
.add-form {
  border: solid black 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 5px 20px;
  background-color: var(--nav-bar);
  opacity: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

